body {
  margin: 0;
  padding: 0;
  background-color: #020617;  /* Navy Blue */
  color: white;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.form-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 380px;
  background: #020b24;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}


.intro-bg {
  min-height: 100vh;
  background: url("/photo.jpg") center/cover no-repeat;
}


.plain-bg {
  min-height: 100vh;
  background-color: #0f172a; 
}
