body{
  min-height: 100vh;
  background: url("/photo.jpg") center/cover no-repeat;
}
.heading{
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    margin: 4%;
    color: #fff;
}

.Quotes{
    font:bold;
    font-family:monospace;
    justify-content: center;
    padding-left: 5%;
    font-size: xx-large;
    color: #fff;
} 

.Motivation{
    font:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
    padding-left: 15%;
    font-size: xx-large;
    color: #fff;
} 



.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;                 
  padding: 20px;
}


.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;       
  cursor: pointer;
  transition: all 0.3s ease;
}


.login-btn {
  background: linear-gradient(45deg, #fc2104, #cf671c);
  border: 2px solid #007bff;
  color: lab(95.79% -0.15 -0.61);
}
.login-btn:hover {
  background: #f41f03;
  color: white;
  transform: translateY(-2px);
}

.signup-btn {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  border: none;
  color: rgb(245, 242, 242);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.signup-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


@media (max-width: 600px) {
  .button-container {
    flex-direction: column;   
    align-items: flex-end;    
  }
  .btn {
    width: 100%;              
    max-width: 250px;         
  }
}

.dropBounce {
  animation: dropBounce 0.9s ease-out forwards;
}

@keyframes dropBounce {
  0%   { opacity: 0; transform: translateY(-60px); }
  60%  { opacity: 1; transform: translateY(10px); }
  80%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


.delay-0 { animation-delay: 0.2s; }
.delay-1 { animation-delay: 0.4s; }
.delay-2 { animation-delay: 0.6s; }
.delay-3 { animation-delay: 0.8s; }
.delay-4 { animation-delay: 1.0s; }

.fade-In {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-5 { animation-delay: 1.2s; }

.pulse-glow {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%   { box-shadow: 0 0 0 rgba(6, 38, 247, 0.6); }
  70%  { box-shadow: 0 0 25px rgba(12, 187, 245, 0.8); }
  100% { box-shadow: 0 0 0 rgba(18, 250, 29, 0.6); }
}




